.features {
  font-size: 26px;
}

.features__title {
  position: relative;
  text-align: center;
  font-size: 26px;
  color: #129639;
  margin-bottom: 97px;
  &::after {
    content: '';
    position: absolute;
    bottom: -34px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 2px;
    background: #129639;
  }
}

.features__list {
  max-width: 1070px;
  margin: 0 auto;
  margin-bottom: 200px;
  line-height: 24px;
}

.features__item {
  display: block;
  vertical-align: top;
  margin-bottom: 48px;
}

.features__item-icon-container {
  display: table-cell;
  vertical-align: middle;
}

.features__item-text {
  display: table-cell;
  vertical-align: middle;
  width: 90%;
}

.features__item-icon {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  margin-right: 70px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  background-size: contain;
}

.features__item-icon-1 {
  background: url('../images/1.png') no-repeat center;
}

.features__item-icon-2 {
  background: url('../images/2.png') no-repeat center;
}

.features__item-icon-3 {
  background: url('../images/3.png') no-repeat center;
}

.features__item-icon-4 {
  background: url('../images/4.png') no-repeat center;
}

.features__item-icon-5 {
  background: url('../images/5.png') no-repeat center;
}

.features__item-icon-6 {
  background: url('../images/6.png') no-repeat center;
}

@media(max-width: 960px) {
  .features {
    margin-bottom: 132px;
  }

  .features__list {
    margin-bottom: 0;
  }

  .features__title {
    margin-bottom: 40px;
    color: black;
    font-size: 48px;

    &::after {
      display: none;
    }
  }

  .features__item-icon {
    margin-right: 35px;
  }

  .features__item-text {
      font-size: 36px;
      line-height: 44px;
    }
}

@media (max-width: 766px) {
  .features__title {
    text-align: center;
    font-size: 42px;
  }

  .features__item-text {
      font-size: 34px;
      line-height: 38px;
    }
}

@media (max-width: 550px) {
  .features__title {
    font-size: 34px;
  }

  .features__item-text {
      font-size: 28px;
      line-height: 34px;
  }
}

@media (max-width: 470px) {
  .features__item {
    display: block;
    text-align: center;
  }

  .features__item-icon-container {
    display: block;
    text-align: center;
  }

  .features__item-icon {
    display: inline-block;
  }

  .features__item-text {
    display: block;
    width: 100%;
    text-align: center;

  }

  .features__item-icon {
    margin: 0;
    margin-bottom: 10px;
  }
}
