.page-footer {
  padding-top: 58px;
  padding-bottom: 60px;

  background: #1a1918;

  color: #FFF;
}

.page-footer__container {
  display: flex;
  flex-direction: row;
}

.page-footer__title {
  margin-bottom: 10px;

  font-size: 22px;
  color: #FFF;
}

.page-footer__text {
  margin-bottom: 27px;

  font-size: 16px;
  line-height: 1.63;
}

.page-footer__logo-container {
  margin-left: auto;
}

.page-footer__logo {
  height: 50px;
  width: 200px;
  background: url('../images/moscow-logo.png') no-repeat center;
  background-size: contain;
}

@media (max-width: 840px) {
  .page-footer__container {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .page-footer__logo-container {
    margin: 0;
  }

  .page-footer__btn {
    margin-bottom: 70px;
  }
}

@media (max-width: 673px) {
  .page-footer__container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .page-footer__logo-container {
    margin: 0;
  }

  .page-footer__btn {
    margin-bottom: 40px;
  }
}
