.page-header {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  min-height: 100vh;
  padding-top: 30px;
  margin-bottom: 118px;

  background: url('../images/header-bg.png') no-repeat 40%;
  background-size: cover;

  color: #FFF;
}

.page-header__container {
  position: initial;
  width: 100%;
}

.page-header__container-logo {
  width: 100%;
}

.page-header__logo {
  height: 50px;
  width: 200px;
  margin-bottom: 70px;

  background: url('../images/moscow-logo.png') no-repeat center;
  background-size: contain;
}

.page-header__vacancy {
  margin-bottom: 30px;

  font-size: 24px;
}

.page-header__vacancy span{
  font-size: 30px;
}

.page-header__description {
  max-width: 548px;
  margin-bottom: 40px;

  line-height: 1.38;
}

.page-header__btn {
  margin-bottom: 129px;
  transition: 0.2s;
  &:hover{
    background: #fff;
    color: black;
  }
}

.page-header__tick {
  position: relative;
  bottom: 27px;
  left: 50%;
  transform: translateX(-50%);

  width: 16px;
  height: 9px;

  background: url('../images/tick.svg') no-repeat center;
  background-size: contain;
}


@media (max-width: 550px) {
  .page-header {
    margin-bottom: 68px;
  }
}

@media(max-width: 500px) {
  .page-header__description-br {
    display: none;
  }
}

@media(max-width: 352px) {
  .page-header {
    min-height: 100px;
  }

  .page-header__container {
    position: relative;
  }
}
