.requirements {
  margin-bottom: 138px;
}

.requirements__title {
  margin-bottom: 30px;

  font-size: 30px;
  letter-spacing: 0px;
  color: #000000;
}

.requirements__item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 24px;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;;

    display: block;
    width: 10px;
    height: 10px;

    background: #db0725;
    border-radius: 50%;
  }
}

@media(max-width: 630px) {
  .requirements__item-br {
    display: none;
  }
}
