doctype html
head
  title MoscowExchange
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

body
  .header
    .header__container.container
      .header__logo
      .header__vacancy
        | открыта вакансия:
        span
          | «Программист С++»
      .header__description
        | Московская Биржа – крупнейшая в России и осточной Европе биржевая Группа приглашает рисоединиться к команде профессионалов в области управления персоналом на позиции руководителя направления автоматизации. script(src="javascripts/vendor.js")
    a.header__btn.btn(href="#")
      | Откликнуться на вакансию


  script(src="javascripts/app.js")

  script.
    require('initialize');
