doctype html
head
  title MoscowExchange
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

body
  header.page-header
    .container.page-header__container-logo
      .page-header__logo
    .page-header__container.container
      .page-header__vacancy
        | открыта вакансия:
        br.page-header__vacancy-br
        span
          |  «Программист С++»
      .page-header__description
        | Московская Биржа – крупнейшая в России и осточной Европе
        br.page-header__description-br
        | биржевая Группа приглашает рисоединиться к команде профессионалов в области управления персоналом на позиции руководителя направления автоматизации.
      a.page-header__btn.btn(href="#")
        | Откликнуться на вакансию
    .page-header__tick
  main.page-main
    .features
      .features__container.container
        .features__title.title-line
          | Работая в Группе «Московская Биржа», вы получите:
        .features__items
          .features__item
            .features__icon.features__icon-1
            .features__text
             | Профессиональный опыт в крупнейшей
             br.features__text-br
             |  в России и Восточной Европе биржевой Группе, две организации которой признаны Банком России системно значимыми инфраструктурными  организациями финансового рынка;
          .features__item
            .features__icon.features__icon-2
            .features__text
              | Разнообразное обучение и доступ в корпоративную библиотеку, насыщенную и интересную внутрикорпоративную жизнь включая участие
              br.features__text-br
              |  в спортивных мероприятиях: триатлон, футбол, волейбол, йога в офисе и многое другое;
          .features__item
            .features__icon.features__icon-3
            .features__text
              | Достойную заработную плату, бонусы;
          .features__item
            .features__icon.features__icon-4
            .features__text
              | Оформление полностью в соответствии с ТК РФ;
          .features__item
            .features__icon.features__icon-5
            .features__text
              | Отличный социальный пакет, включающий расширенную медицинскую страховку,
              br.features__text-br
              |  скидки на фитнес и другие льготные
              br.features__text-br
              |  программы от партнеров;
          .features__item
            .features__icon.features__icon-6
            .features__text
              | И, конечно, дружный коллектив
              br.features__text-br
              |  и комфортные условия работы;
    .company-desc
      .company-desc__container
        | Команда Группы "Московская Биржа" насчитывает уже более 1500 человек, но новых интересных роектов и задач гораздо больше! Именно поэтому мы ищем талантливых кандидатов.
    .tasks
      .tasks__container.container
        .tasks__title.title-line
          | В зону вашей ответственности будет входить:
        ul.tasks__list
          li.tasts__item
            | Разработка инструментария тестирования;
          li.tasts__item
            | Развитие фреймворка автотестирования;
          li.tasts__item
            | Написание сценарных и модульных тестов;
          li.tasts__item
            | Оказание консультаций сотрудникам подразделения, занимающегося эксплуатацией;
          li.tasts__item
            | Разработка документации.
    .requirements
      .requirements__container.container
        .requirements__title.title-line
          | Для этого важно:
        ul.requirements__list
          li.requirements__item
            | Знание языков программирования: C++, Python;
          li.requirements__item
            | Иметь опыт организации модульного тестирования приложений;
          li.requirements__item
            | Знание систем контроля версий и баг-трэкинга;
          li.requirements__item
            | Общая грамотность и ориентация в современном программном обеспечении
            br.requirements__item-br
            | и технологиях программирования;
          li.requirements__item
            | Грамотная письменная и устная речь.
    .preferably
      .preferably__container.container
        .preferably__title.title-line
          | Желательно:
        ul.preferably__list
          li.preferably__item
            | Опыт разработки многопоточных приложений желательно;
          li.preferably__item
            | Опыт разработки серверных приложений под Linux и/или Mac.
        a.preferably__btn.btn(href="#")
          | Откликнуться на вакансию
    .company-desc__footer
      .company-desc__footer-container
        | Команда Группы "Московская Биржа" насчитывает уже более 1500 человек, но новых нтересных проектов и задач гораздо больше! Именно поэтому мы ищем талантливых кандидатов и ждём ваше резюме!
  footer.page-footer
    .page-footer__container.container
      .page-footer__text-container
        .page-footer__title
          | Мы ожидаем от вас разделения наших ценностей:
        .page-footer__text
          | мы отвечаем за будущее компании, мы в партнерстве с клиентами,
          br.page-footer__text-br
          | мы развиваемся и готовы к изменениям,
          br.page-footer__text-br
          | мы открыты и порядочны.
        a.page-footer__btn.btn(href="#")
          | Откликнуться на вакансию
      .page-footer__logo-container
        .page-footer__logo

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
